<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="https://kit.fontawesome.com/4b13537802.js" crossorigin="anonymous"></script>
    <title>餐廳清單</title>
</head>
<body>
    <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
        <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
            我的餐廳清單
        </a>
        <div>
            <a href="/users/register" class="btn btn-outline-primary" type="button">
                註冊
            </a>
            <a href="/users/login" class="btn btn-outline-primary" type="button">
                登入
            </a>            
        </div>
        </div>
    </nav>

    <div class="banner"></div>
    </header>
    {{{ body }}}
    <script src="/javascript/jquery-3.3.1.js"></script>
    <script src="/javascript/popper.js"></script>
    <script src="/javascript/bootstrap.js"></script>
</body>
</html>